<p style="color: green"><%= notice %></p>
<%= render @vote %>
<div style= "padding: 0; text-align: center; display: flex; justify-content: center; gap: 10px;" >
 <%= link_to "Back", votes_path, class:"button button2" %> 
 <%= link_to "Edit", edit_vote_path(@vote), class: "button" %> 
 <%= button_to "Destroy", @vote, method: :delete, class: "button button3" %>   
</div> 

<div style="margin: 0; padding: 0 10%">
<h3>Comments</h3>

<%= form_with(model: [@vote, Comment.new], local: true) do |f| %>
  <div>
    <%= f.label :content, "Add a comment:" %><br>
    <%= f.text_area :content, rows: 3, class: "text" %>
  </div>
  <div>
    <%= f.submit "Post Comment" , class: "button"%>
  </div>
<% end %>
  <% @vote.comments.each do |comment| %>
      <%= comment.content %>
      <small>(posted at <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>)</small>
  </hr>
  <% end %>
</div>